body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background 5s ease;
  transition-delay: 5s;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 400px;
}

.card h1 {
  color: #ff4081;
  font-size: 2em;
}

.card p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

button {
  background: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}



button:hover {
  background: #e73370;
   color: rgb(255, 255, 255);
  box-shadow: 0 15px 25px rgba(244, 123, 212, 0.829);
}

#extraMessage {
  margin-top: 20px;
  font-size: 1.3em;
  color: #ff4081;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background: hsl(var(--hue), 100%, 70%);
  top: -10px;
  animation: fall 4s linear infinite;
  border-radius: 50%;
  --hue: calc(360 * var(--rand));
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}
.card img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}
